#pumpkins-accelerated{
    background-image: url(../images/pumpkin.png);
    background-size: cover;
}
#cpu{
    background-image: url(../images/cpu.png);
    background-size: cover;
}
#cpu:hover{
    background-image: url(../images/cpu2.gif);
}
#core{
    background-image: url(../images/core.jpg);
    background-size: cover;
}
#shader-toy{
    background-image: url(../images/shaderToy.png);
    background-size: cover;
}
#shader-toy:hover{
    background-image: url(../images/shaderToy.gif);
}
#soda-steal{
    background-image: url(../images/sodaStealClipart.jpg);
    background-size: cover;
}
#rbct{
    background-image: url(../images/rbctIcon.png);
    background-size: cover;
}
#bees{
    background-image: url(../images/bees.gif);
    background-size: cover;
    background-position: 0 0;
}
#woodworking{
    background-image: url(../images/catBowl.jpg);
    background-size: cover;
}
#website-code{
    background-image: url(../images/sourcecode.png);
    background-size: cover;
}
#multiply{
    background-image: url(../images/multiplySq.png);
    background-size: cover;
}
#multiply:hover{
    background-image: url(../images/multiply.gif);
}
#makerspace{
    background-image: url(../images/umams.png);
    background-size: cover;
}
#ac-motor{
    background-image: url(../images/motorKhan.png);
    background-size: cover;
}
#ac-motor:hover{
    background-image: url(../images/motor.gif);
}
body::after{
    position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
    content:url(../images/shaderToy.gif) url(../images/cpu2.gif)
}
