#pumpkins-accelerated{
    background-image: url(/resources/images/pumpkin.png);
    background-size: cover;
}
#cpu{
    background-image: url(/resources/images/cpu.png);
    background-size: cover;
}
#cpu:hover{
    background-image: url(/resources/images/cpu2.gif);
}
#core{
    background-image: url(/resources/images/core.jpg);
    background-size: cover;
}
#shader-toy{
    background-image: url(/resources/images/shaderToy.png);
    background-size: cover;
}
#shader-toy:hover{
    background-image: url(/resources/images/shaderToy.gif);
}
#soda-steal{
    background-image: url(/resources/images/sodaStealCrop.jpg);
    background-size: cover;
}
#rbct{
    background-image: url(/resources/images/rbctIcon.png);
    background-size: cover;
}
#bees{
    background-image: url(/resources/images/bees.gif);
    background-size: cover;
}
#woodworking{
    background-image: url(/resources/images/woodworking.jpg);
    background-size: cover;
}
#website-code{
    background-image: url(/resources/images/sourcecode.png);
    background-size: cover;
}

body::after{
    position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
    content:url(/resources/images/shaderToy.gif) url(/resources/images/cpu2.gif)
 }