:root{
    --sat1: #F9F5E0;
    --sat2: #F8E3CA;
    --sat3: #F8D1B4;
    --sat4: #F7BF9E;
    --sat5: #F6AD88;
    --sat6: #F69B72;
    --sat7: #F5895C;
}
.projectBox{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.projectGrid{
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: auto;
    gap:1vw;

    align-items: center;
    justify-content: center;
}
.projectItem{

    margin: 2vw;
    background-color: var(--sat3);
    min-width: 17vw;
    height: 60vh;

    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    

    border-style: solid;
    border-width: 10px;
    border-radius: 1vw;
    border-color: transparent;

    overflow: hidden;
    text-overflow: ellipsis;


}
.projectItem:hover{

    border-color: var(--sat4);

}
.projectItem:hover h2{

    font-size:1.6rem;
    
}

.projectPhoto{
    width: 80%;
}

.offsetLeft{
    width: 70%;
    border-style: solid;
    border-width: 4px;
    border-color: transparent;
    border-bottom-color: var(--sat4);
}
.offsetLeft h1{
    padding-right: 75%;
}