:root{
  --hexWidth: 15vw;
  --hexHeight: calc(var(--hexWidth)*0.866);
  --margin:1.5vw;
  --gridWidth:50%;
  --scale: 1.2;
  --scaleWidth: calc(var(--hexWidth)*var(--scale));
  --scaleHeight: calc(var(--hexHeight)*var(--scale));
  --offset: calc(var(--hexHeight)/2 + 2*var(--margin));
}

body{
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
}

#hex-grid{
  display: flex;
  flex-wrap: wrap;
  width: calc(var(--hexWidth)*2.8 + 6*var(--margin));
  gap:0;
}

#hex-grid div{
  background-color: azure;
  width: var(--hexWidth);
  height: var(--hexHeight);
  margin: var(--margin);
  margin-left: calc(var(--margin) - var(--hexWidth)/8);
  margin-right: calc(var(--margin) - var(--hexWidth)/8);

  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;

  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  transition: 0.3s;

} 
#hex-grid div:hover{

  transform: scale(var(--scale));

} 
#hex-grid div img{
  
  width: 100%;
  height: 100%;
  padding: 0;
  margin:0;
} 
#hex-grid div p{
  
  font-size: x-large;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:white;
  background-color: rgba(0,0,0,0.4);
  padding: 0.3vh;
  border-radius: 0.5em;

  width: 75%;
  text-align: center;
} 
#hex-grid div:nth-child(3n+2) {
  margin-top: calc(var(--offset));
  margin-bottom: calc(var(--offset)*-1);
  background-color: skyblue;
}